name: 'CI'

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  call-perl-test:
    uses: ryoskzypu/github_workflows/.github/workflows/perl-test.yml@main
    with:
      since-perl: v5.40.0
      with-devel: true
